.main {
	border-radius: 18px;
	background: var(--bg-color);
	h1 {
		font-size: 22px;
		font-weight: var(----font-weight-bold);
		color: var(--font-color);
	}
}
.container {
	display: flex;
	flex-direction: column;
	padding: 0 34px;
	margin-top: 29px;
}
.organization {
	padding: 24px 34px;
	border-bottom: 1px solid #222b44;
}
.input {
	margin: 24px 0;
}
.table {
	padding-bottom: 24px;
}
.pagination {
	align-self: center;
	margin-bottom: 45px;
}
@media (max-width: 375px){
	.container {
	padding: 0 16px;
}
}